<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/427a1571ad.js" crossorigin="anonymous"></script>
    <title> About us - Revin Krishi</title>
    <link rel="stylesheet" href="new_home.css">
    <link rel="stylesheet" href="usecases.css">
</head>
<body>
    <header>
        <div class="logo">
            <img src="logo.png" alt="Satcard Logo">
        </div>
        <!-- Dropdown icon for mobile screens -->
        <div class = "nav1">
            <a class="nav-btn "  href="/contact">Book Demo</a>
        </div>
        <div class="dropdown">
            
            <button class="dropbtn"><i class="fas fa-bars"></i></button>
            <div class="dropdown-content">
                <a href="/">Home</a>
                <a href="/product1">System1</a>
                <a href="/product2">System2</a>
                <a href="/product3">System3</a>
                <a href="/usecases">Use Cases</a>
                <a href="/about">About us</a>
                
            </div>
        </div>
        <!-- Regular navigation for larger screens -->
        <nav class = "nav">
            <ul>
                <li><a href="/">Home</a></li>
                <li class="system-dropdown">
                    <a href="#">Systems</a>
                    <ul class="dropdown-content">
                        <li><a href="/product1">System 1</a></li>
                        <li><a href="/product2">System 2</a></li>
                        <li><a href="/product3">System 3</a></li>
                    </ul>
                </li>
                <li><a href="/usecases">Use Cases</a></li>
                <li><a href="/about">About us</a></li>
                
            </ul>
            <a class="nav-btn" href="/contact">Book Demo</a>
        </nav>
    </header>

    <section class="mission-section">
            <div class="mission-content">
                <div class="mission-text">
                    <!-- <h1>Our Mission</h1> -->
                    <h2>Revolutionize Agriculture with <span>Smart Technology</span></h2>
                    <p>At Smart AgriTech, we are committed to transforming the agricultural landscape by integrating advanced technologies and data-driven solutions to boost productivity and sustainability.</p>
                </div>
                <div class="mission-images">
                    <img class="image1" src="usecases.png" alt="Mission Image 1">
                </div>
            </div>
    </section>

    <section class="content-section">
        <div class="nav-section">
            <ul class="nav-list">
                <li class="nav-item activate"><a href="#" data-content="farming">Farming</a></li>
                <li class="nav-item"><a href="#" data-content="seed">Seed</a></li>
                <li class="nav-item"><a href="#" data-content="food-processing">Food Processing</a></li>
                <li class="nav-item"><a href="#" data-content="agri-input">Agri Input</a></li>
                <li class="nav-item"><a href="#" data-content="dev-agencies">Dev. Agencies</a></li>
                <li class="nav-item"><a href="#" data-content="agri-lending">Agri Lending</a></li>
            </ul>
        </div>
        <div class="uses">
            <div id="farming" class="content-item" style="display: block;">
                <h1>Farming</h1>
                <div class="uses-container">
                    <div class="image-section">
                        <img src="product1.jpg" alt="Commodities" class="image">
                    </div>
                    <div class="text-section">
                        <h2>Seed</h2>
                        <p>Prices in commodity trading are highly volatile. This is a factor of rapidly changing crop and weather conditions. SatSure Sparta provides insights on crop yields and weather patterns. This evaluates potential risks in crops and the supply chain usage, which allows the commodity companies to make more informed decisions for the factors impacting the commodity prices.</p>
                        <div class="features">
                            <div class="feature-item">
                                <img src="manage-icon.svg" alt="Icon 1">
                                <p>Crop classification & area estimation</p>
                            </div>
                            <div class="feature-item">
                                <img src="manage-icon.svg" alt="Icon 2">
                                <p>Crop damage assessment due to natural events</p>
                            </div>
                            <div class="feature-item">
                                <img src="manage-icon.svg" alt="Icon 3">
                                <p>Crop performance monitoring</p>
                            </div>
                            <div class="feature-item">
                                <img src="manage-icon.svg" alt="Icon 4">
                                <p>Forecasting demand-supply gaps during</p>
                            </div>
                            <div class="feature-item">
                                <img src="manage-icon.svg" alt="Icon 5">
                                <p>Crop classification & area estimation</p>
                            </div>
                            <div class="feature-item">
                                <img src="manage-icon.svg" alt="Icon 6">
                                <p>Crop damage assessment due to natural events</p>
                            </div>
                        
                        </div>
                    </div>
                </div>
            </div>
            <div id="seed" class="content-item" style="display: none;">
                <h1>Seed</h1>
                <div class="uses-container">
                    <div class="image-section">
                        <img src="product1.jpg" alt="Commodities" class="image">
                    </div>
                    <div class="text-section">
                        <h2>Seed</h2>
                        <p>Prices in commodity trading are highly volatile. This is a factor of rapidly changing crop and weather conditions. SatSure Sparta provides insights on crop yields and weather patterns. This evaluates potential risks in crops and the supply chain usage, which allows the commodity companies to make more informed decisions for the factors impacting the commodity prices.</p>
                        <div class="features">
                            <div class="feature-item">
                                <img src="manage-icon.svg" alt="Icon 1">
                                <p>Crop classification & area estimation</p>
                            </div>
                            <div class="feature-item">
                                <img src="manage-icon.svg" alt="Icon 2">
                                <p>Crop damage assessment due to natural events</p>
                            </div>
                            <div class="feature-item">
                                <img src="manage-icon.svg" alt="Icon 3">
                                <p>Crop performance monitoring</p>
                            </div>
                            <div class="feature-item">
                                <img src="manage-icon.svg" alt="Icon 4">
                                <p>Forecasting demand-supply gaps during</p>
                            </div>
                            <div class="feature-item">
                                <img src="manage-icon.svg" alt="Icon 5">
                                <p>Crop classification & area estimation</p>
                            </div>
                            <div class="feature-item">
                                <img src="manage-icon.svg" alt="Icon 6">
                                <p>Crop damage assessment due to natural events</p>
                            </div>
                        
                        </div>
                    </div>
                </div>
            </div>
            <div id="food-processing" class="content-item" style="display: none;">
                <h1>food-processing</h1>
                <div class="uses-container">
                    <div class="image-section">
                        <img src="product1.jpg" alt="Commodities" class="image">
                    </div>
                    <div class="text-section">
                        <h2>Seed</h2>
                        <p>Prices in commodity trading are highly volatile. This is a factor of rapidly changing crop and weather conditions. SatSure Sparta provides insights on crop yields and weather patterns. This evaluates potential risks in crops and the supply chain usage, which allows the commodity companies to make more informed decisions for the factors impacting the commodity prices.</p>
                        <div class="features">
                            <div class="feature-item">
                                <img src="manage-icon.svg" alt="Icon 1">
                                <p>Crop classification & area estimation</p>
                            </div>
                            <div class="feature-item">
                                <img src="manage-icon.svg" alt="Icon 2">
                                <p>Crop damage assessment due to natural events</p>
                            </div>
                            <div class="feature-item">
                                <img src="manage-icon.svg" alt="Icon 3">
                                <p>Crop performance monitoring</p>
                            </div>
                            <div class="feature-item">
                                <img src="manage-icon.svg" alt="Icon 4">
                                <p>Forecasting demand-supply gaps during</p>
                            </div>
                            <div class="feature-item">
                                <img src="manage-icon.svg" alt="Icon 5">
                                <p>Crop classification & area estimation</p>
                            </div>
                            <div class="feature-item">
                                <img src="manage-icon.svg" alt="Icon 6">
                                <p>Crop damage assessment due to natural events</p>
                            </div>
                        
                        </div>
                    </div>
                </div>
            </div>
            <div id="agri-input" class="content-item" style="display: none;">
                <h1>agri-input</h1>
                <div class="uses-container">
                    <div class="image-section">
                        <img src="product1.jpg" alt="Commodities" class="image">
                    </div>
                    <div class="text-section">
                        <h2>Seed</h2>
                        <p>Prices in commodity trading are highly volatile. This is a factor of rapidly changing crop and weather conditions. SatSure Sparta provides insights on crop yields and weather patterns. This evaluates potential risks in crops and the supply chain usage, which allows the commodity companies to make more informed decisions for the factors impacting the commodity prices.</p>
                        <div class="features">
                            <div class="feature-item">
                                <img src="manage-icon.svg" alt="Icon 1">
                                <p>Crop classification & area estimation</p>
                            </div>
                            <div class="feature-item">
                                <img src="manage-icon.svg" alt="Icon 2">
                                <p>Crop damage assessment due to natural events</p>
                            </div>
                            <div class="feature-item">
                                <img src="manage-icon.svg" alt="Icon 3">
                                <p>Crop performance monitoring</p>
                            </div>
                            <div class="feature-item">
                                <img src="manage-icon.svg" alt="Icon 4">
                                <p>Forecasting demand-supply gaps during</p>
                            </div>
                            <div class="feature-item">
                                <img src="manage-icon.svg" alt="Icon 5">
                                <p>Crop classification & area estimation</p>
                            </div>
                            <div class="feature-item">
                                <img src="manage-icon.svg" alt="Icon 6">
                                <p>Crop damage assessment due to natural events</p>
                            </div>
                        
                        </div>
                    </div>
                </div>
            </div>
            <div id="dev-agencies" class="content-item" style="display: none;">
                <h1>dev-agencies</h1>
                <div class="uses-container">
                    <div class="image-section">
                        <img src="product1.jpg" alt="Commodities" class="image">
                    </div>
                    <div class="text-section">
                        <h2>Seed</h2>
                        <p>Prices in commodity trading are highly volatile. This is a factor of rapidly changing crop and weather conditions. SatSure Sparta provides insights on crop yields and weather patterns. This evaluates potential risks in crops and the supply chain usage, which allows the commodity companies to make more informed decisions for the factors impacting the commodity prices.</p>
                        <div class="features">
                            <div class="feature-item">
                                <img src="manage-icon.svg" alt="Icon 1">
                                <p>Crop classification & area estimation</p>
                            </div>
                            <div class="feature-item">
                                <img src="manage-icon.svg" alt="Icon 2">
                                <p>Crop damage assessment due to natural events</p>
                            </div>
                            <div class="feature-item">
                                <img src="manage-icon.svg" alt="Icon 3">
                                <p>Crop performance monitoring</p>
                            </div>
                            <div class="feature-item">
                                <img src="manage-icon.svg" alt="Icon 4">
                                <p>Forecasting demand-supply gaps during</p>
                            </div>
                            <div class="feature-item">
                                <img src="manage-icon.svg" alt="Icon 5">
                                <p>Crop classification & area estimation</p>
                            </div>
                            <div class="feature-item">
                                <img src="manage-icon.svg" alt="Icon 6">
                                <p>Crop damage assessment due to natural events</p>
                            </div>
                        
                        </div>
                    </div>
                </div>
            </div>
            <div id="agri-lending" class="content-item" style="display: none;">
                <h1>agri-lending</h1>
                <div class="uses-container">
                    <div class="image-section">
                        <img src="product1.jpg" alt="Commodities" class="image">
                    </div>
                    <div class="text-section">
                        <h2>Seed</h2>
                        <p>Prices in commodity trading are highly volatile. This is a factor of rapidly changing crop and weather conditions. SatSure Sparta provides insights on crop yields and weather patterns. This evaluates potential risks in crops and the supply chain usage, which allows the commodity companies to make more informed decisions for the factors impacting the commodity prices.</p>
                        <div class="features">
                            <div class="feature-item">
                                <img src="manage-icon.svg" alt="Icon 1">
                                <p>Crop classification & area estimation</p>
                            </div>
                            <div class="feature-item">
                                <img src="manage-icon.svg" alt="Icon 2">
                                <p>Crop damage assessment due to natural events</p>
                            </div>
                            <div class="feature-item">
                                <img src="manage-icon.svg" alt="Icon 3">
                                <p>Crop performance monitoring</p>
                            </div>
                            <div class="feature-item">
                                <img src="manage-icon.svg" alt="Icon 4">
                                <p>Forecasting demand-supply gaps during</p>
                            </div>
                            <div class="feature-item">
                                <img src="manage-icon.svg" alt="Icon 5">
                                <p>Crop classification & area estimation</p>
                            </div>
                            <div class="feature-item">
                                <img src="manage-icon.svg" alt="Icon 6">
                                <p>Crop damage assessment due to natural events</p>
                            </div>
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
  
    <section class="case-study-section">
        <div class="case-study-heading">
            <h1>Case Studies</h1>
            <h2>Explore how our solutions helped customers overcome unique challenges and achieve success.</h2>
        </div>
        <div class="case-study-slider-container">
            <div class="case-study-slider">
                <!-- Slide 1 -->
                <div class="case-study-slide active">
                    <h2>Tackling challenges in crop biomass procurement with predictive and prescriptive insights from crop stage monitoring with satellites.</h2>
                    <div class="case-study-content">
                        <img src="crop9.png" alt="Biomass">
                        <div class="case-study-box">
                            <h3>Problem Statement</h3>
                            <p>The client procures biomass and relied mostly on the field team for information on crop stage which resulted in missed procurement opportunity or loss of produce due to late procurement.</p>
                        </div>
                        <div class="case-study-box">
                            <h3>Challenge</h3>
                            <p>The client faced complex problems for crop biomass procurement due to reliance on field survey and lack of digitization across processes leading to increased manual errors in data collection...</p>
                        </div>
                        <div class="case-study-box">
                            <h3>Our Solution</h3>
                            <p>We delivered customized dashboard and reports through continuous crop monitoring and a transparent information flow...</p>
                        </div>  
                    </div>
                </div>
                <!-- Add more slides here with the same structure -->
                <div class="case-study-slide active">
                    <h2>Tackling challenges in crop biomass procurement with predictive and prescriptive insights from crop stage monitoring with satellites.</h2>
                    <div class="case-study-content">
                        <img src="crop10.png" alt="Biomass"> 
                        <div class="case-study-box">
                            <h3>Problem Statement</h3>
                            <p>The client procures biomass and relied mostly on the field team for information on crop stage which resulted in missed procurement opportunity or loss of produce due to late procurement.</p>
                        </div>
                        <div class="case-study-box">
                            <h3>Challenge</h3>
                            <p>The client faced complex problems for crop biomass procurement due to reliance on field survey and lack of digitization across processes leading to increased manual errors in data collection...</p>
                        </div>
                        <div class="case-study-box">
                            <h3>Our Solution</h3>
                            <p>We delivered customized dashboard and reports through continuous crop monitoring and a transparent information flow...</p>
                        </div>
                    </div>
                </div>
                <!-- Add more slides here with the same structure -->
                <div class="case-study-slide active">
                    <h2>Tackling challenges in crop biomass procurement with predictive and prescriptive insights from crop stage monitoring with satellites.</h2>
                    <div class="case-study-content">
                        <img src="crop8.png" alt="Biomass">                       
                            <div class="case-study-box">
                                <h3>Problem Statement</h3>
                                <p>The client procures biomass and relied mostly on the field team for information on crop stage which resulted in missed procurement opportunity or loss of produce due to late procurement.</p>
                            </div>
                            <div class="case-study-box">
                                <h3>Challenge</h3>
                                <p>The client faced complex problems for crop biomass procurement due to reliance on field survey and lack of digitization across processes leading to increased manual errors in data collection...</p>
                            </div>
                            <div class="case-study-box">
                                <h3>Our Solution</h3>
                                <p>We delivered customized dashboard and reports through continuous crop monitoring and a transparent information flow...</p>
                            </div>
                    </div>
                </div>
            </div>
            

        </div>
        <button id="case-study-prevBtn" class="case-study-nav-button"><</button>
        <button id="case-study-nextBtn" class="case-study-nav-button">></button>
    </section>

    <section class="request-services-section">
        <div class="request-services-heading">
            <h1>Making <span>Space Technology</span> Accessible to Businesses</h1>
        </div>
        <div class="request-services-container">
            <div class="request-service-box">
                <img src="service-icon.png" alt="Consulting Icon">
                <h3>Consulting</h3>
                <p>At the heart of our business lies joint problem-solving with our clients, using our technology expertise and their industry experience aligned with their goals.</p>
            </div>
            <div class="request-service-box">
                <img src="service-icon-2.png" alt="Tech Capabilities Icon">
                <h3>Deep Tech Capabilities</h3>
                <p>We extract valuable insights by identifying patterns and integrating multi-source data for making the right decisions.</p>
            </div>
            <div class="request-service-box">
                <img src="service-icon.png" alt="Data Infrastructure Icon">
                <h3>Software and Data Infrastructure</h3>
                <p>We build software and data infrastructures to generate the true value of our insights for clients, ensuring seamless integration across the organization at scale.</p>
            </div>
        </div>
    </section>

    <section class="request-hero-section">
        <div class="request-hero-content">
            <h1>Take a guided tour of SatSure Sparta at your preferred time and pace.</h1>
            <a href="/contact" class="request-cta-button">Request Demo</a>
        </div>
    </section>
    

    <footer class="footer">
        <div class="contact">
            <div class = "icon-div">
                <div class="icon_container">
                    <img src="phone1.png" class="icon first-icon">
                    <p class="detail-con phone_first">Phone</p>
                    <p class="detail_value phone_first">2222222222</p>
                </div>
                <div class="icon_container">
                    <img src="email.png" class="icon">
                    <p class="detail-con">Email</p>
                    <p class="detail_value">abc@gmail.com</p>
                </div>
                <div class="icon_container">
                    <img src="locate.png" class="icon ca">
                    <p class="detail-con">Office Location</p>
                    <p class="detail_value">Palakkad, Kerala</p>
                </div>
               
            </div>
        </div>
        <div class = "links">
        
        <div class ="links-div">
            <div class="link_ele">
                <img src ="logo.png" class="logo-img">
                 
                
                <div class = "revin-cont">
                    <p class = "link-css-con logo-bel-con">Revin Krishi is a leading centre developing 
                    efficient and affordable
                    technological solutions in agriculture, with a vision to impact
                    over 5 million farmers in India by 2030. Connect with us using the
                    following below social media links</p>
                    <!-- <p class = "link-css-con"></p> -->
                    <div class="social-media">
                        <a href= "https://www.facebook.com" target="_blank"><img src= "facebook.png" class ="social-icon social-first"></a>
                        <a href= "https://www.linkedin.com/company/satcard-smart-agritech-centre-for-advanced-research-and-development/" target="_blank"><img src= "linkedIn.png" class ="social-icon social-first"></a>
                        <a href= "https://www.instagram.com" target="_blank"><img src= "instagram.png" class ="social-icon"></a>
                        <a href= "https://www.twitter.com" target="_blank"><img src= "twitter.png" class ="social-icon"></a>
                    </div>
                    </div>
            </div>
            <div class= "quick">
                <div class="quick-links">
                    <p class = "heading1">Quick Links</p>
                    <a href= "#" class="links-click"><p class = "link-css link-first">Home</p></a>
                    <a href= "#"  ><p class = "link-css">About</p></a>
                    <a href= "#" ><p class = "link-css">Solutions</p></a>
                    <a href= "#" ><p class = "link-css">Contact</p></a>
                    <a href= "#" ><p class = "link-css">Crops</p></a>
                    <a href= "#" ><p class = "link-css">Resource</p></a>
                </div>
            </div>
            <div>
                <div class="useful-links">
                    <p class = "heading1" >Useful Links</p>
                    <a href= "#"><p class = "link-css link-first">Terms and Conditions</p></a>
                    <a href= "#"><p class = "link-css">Privacy Policy</p></a>
                    <a href= "#"><p class = "link-css">FAQs</p></a>
                    
                </div>
            </div>
            <div class="download-links-div">
                <div class="download-links">
                    <p class = "heading1">Download App</p>
                    <p class = "link-css-con link-first">For more convenience download our app
                    from the links below</p>
                    <a href= "#"><img src = "apple.png" class ="down-img down-img-first"></a>
                    <a href= "#"><img src = "android.png" class ="down-img"></a>
                    
                    
                </div>
            </div>
        </div>
        <div class = "copy-div">
            <p class = "copy">Copyright @ 2024 all rights reserved</p>
        </div>
        
    </div>

    
    </footer>  
    
</body>

<script>
    // Get all navigation items
    const navItems = document.querySelectorAll('.nav-item a');
    const contentItems = document.querySelectorAll('.content-item');

    // Add click event listener to each nav item
    navItems.forEach(navItem => {
        navItem.addEventListener('click', function(event) {
            event.preventDefault(); // Prevent default link behavior

            // Remove active class from all nav items
            navItems.forEach(item => item.parentElement.classList.remove('activate'));

            // Add active class to clicked nav item
            this.parentElement.classList.add('activate');

            // Hide all content items
            contentItems.forEach(content => content.style.display = 'none');

            // Show content corresponding to clicked nav item
            const contentId = this.getAttribute('data-content');
            document.getElementById(contentId).style.display = 'block';
        });
    });
</script>

<script>
    let currentIndex = 0;

    const slides = document.querySelectorAll('.case-study-slide');
    const nextButton = document.getElementById('case-study-nextBtn');
    const prevButton = document.getElementById('case-study-prevBtn');

    function showSlide(index) {
        if (index >= slides.length) {
            currentIndex = 0;
        } else if (index < 0) {
            currentIndex = slides.length - 1;
        } else {
            currentIndex = index;
        }

        document.querySelector('.case-study-slider').style.transform = `translateX(-${currentIndex * 100}%)`;
    }

    nextButton.addEventListener('click', () => {
        showSlide(currentIndex + 1);
    });

    prevButton.addEventListener('click', () => {
        showSlide(currentIndex - 1);
    });

</script>


</html>